<video class="video-js" playsinline preload="auto" poster={{poster}} data-setup={{dataSetup}} crossorigin={{vr-crossorigin}}>
  {{#if src}}
    <source src="{{src}}" type="{{type}}">
  {{/if}}

  {{#if sources}}
    {{#each sources as |source|}}
      <source src="{{source.src}}" type="{{source.type}}">
    {{/each}}
  {{/if}}

  {{#if textTrack}}
    <track kind="captions" src="{{textTrack}}" srclang="en" label="English" type="text/vtt" default>
  {{/if}}

  {{#if textTracks}}
    {{#each textTracks as |textTrack|}}
      <track kind="{{textTrack.kind}}" src="{{textTrack.src}}" srclang="{{textTrack.language}}" label="{{textTrack.label}}" type="{{textTrack.type}}" default>
    {{/each}}
  {{/if}}

  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank" rel="noopener">supports HTML5 video</a>
  </p>
</video>