<li>{{src}}</li>
<li>{{type}}</li>
<li>{{poster}}</li>

<video class="video-js" controls preload="auto" width="640" height="264" poster="{{poster}}" data-setup="{}">
  <source src="{{src}}" type="{{type}}">
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>

